body {
	padding: 0 15px;
}
.title,
.loading {
	text-align: center;
}
.tweet {
	margin-bottom: 20px;
	border-bottom: solid 1px #ccc;
}
@media (min-width: 768px) {
	.wrapper {
		width: 50%;
		margin: 0 auto;
	}
}
