.title {
	text-align: center;
}
.tweet-form,
.loading {
	width: 50%;
	margin: 0 auto;
}
.loading {
	text-align: center;
}
.tweets {
	width: 50%;
	margin: 0 auto;
}
.tweet {
	margin-bottom: 20px;
	border-bottom: solid 1px #ccc;
}
